/*for >993px*/
@media screen and (min-width:993px) {
    div.header-overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 900px;
        width: 100%;
        opacity: .5;
        background-color: white;
    }

    img.header-bg {
        height: 900px;
        width: 100%;
    }

    img.logoheader {
        position: absolute;
        width: 25%;
        z-index: 2;
        right: 38%;
        bottom: 35%;
    }

    div.query-overlay {
        position: absolute;
        bottom: 5%;
        width: 85%;
        left: 8%;
        opacity: .8;
        background-color: #f5e345;
    }

    .input-group .form-control {
        width: 170px;
    }
}
/*結束for >993px*/

/*for >768px*/
@media screen and (min-width:768px) and (max-width:992px) {
    div.header-overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 900px;
        width: 100%;
        opacity: .5;
        background-color: white;
    }

    img.header-bg {
        height: 900px;
        width: 100%;
    }

    img.logoheader {
        position: absolute;
        width: 35%;
        z-index: 2;
        right: 35%;
        bottom: 45%;
    }

    div.query-overlay {
        position: absolute;
        bottom: 5%;
        width: 85%;
        left: 8%;
        opacity: .8;
        background-color: #f5e345;
    }

    .input-group .form-control {
        width: 200px;
    }
}
/*結束for >768px*/

@media screen and (min-width:601px) and (max-width:767px) {
    div.header-overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 900px;
        width: 100%;
        opacity: .5;
        background-color: white;
    }

    img.header-bg {
        height: 900px;
        width: 100%;
    }

    img.logoheader {
        position: absolute;
        width: 35%;
        z-index: 2;
        right: 35%;
        bottom: 60%;
    }

    div.query-overlay {
        position: absolute;
        bottom: 5%;
        width: 85%;
        left: 8%;
        padding-left: 3%;
        opacity: .8;
        background-color: #f5e345;
    }

    .input-group .form-control {
        width: 400px;
    }
}

/*for >412px*/
@media screen and (min-width:412px) and (max-width:600px) {
    div.header-overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 600px;
        width: 100%;
        opacity: .5;
        background-color: white;
    }

    img.logoheader {
        position: absolute;
        width: 55%;
        z-index: 2;
        right: 25%;
        bottom: 65%;
    }

    img.header-bg {
        height: 600px;
        width: 100%;
    }

    div.query-overlay {
        width: 100%;
        background-color: #f5e345;
        padding: 30px;
        margin-left: 0.4px;
    }

    .input-group .form-control {
        width: 300px;
    }
}
/*結束for >412px*/

/*for >320px*/
@media screen and (min-width:320px) and (max-width:411px) {
    div.header-overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 600px;
        width: 100%;
        opacity: .5;
        background-color: white;
    }

    img.logoheader {
        position: absolute;
        width: 50%;
        z-index: 2;
        right: 25%;
        bottom: 65%;
    }

    img.header-bg {
        height: 600px;
        width: 100%;
    }

    div.query-overlay {
        width: 100%;
        background-color: #f5e345;
        padding: 30px;
        margin-left: 0.4px;
    }

    .input-group .form-control {
        width: 200px;
    }
}
/*結束for >320px*/


/*.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}*/


.card {
    position: relative;
    margin-top: 15px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: white;
    transition: 0.3s;
    display: inline-block;
    margin-right: 15px;
}

.cardContext {
    margin: 0;
    padding: 12px 16px;
    font-family: 'Microsoft JhengHei';
}

.onekey {
	left-margin:5px;
}